<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--id bean标签的唯一标识 一般是对应JavaBean首字母小写 class bean对象所在路径-->
    <bean id="userService" class="tech.snnukf.service.UserService">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="userService02" class="tech.snnukf.service.UserService02">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <!-- more bean definitions go here -->

</beans>