<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="tech.snnukf.dao.UserDao"></bean>

    <!--
        Set方法注入
            通过property属性注入
    -->
    <bean id="userService" class="tech.snnukf.service.UserService">
        <property name="userDao" ref="userDao"/>
        <property name="host" value="127.0.0.1"/>
        <property name="list">
            <list>
                <value>上海</value>
                <value>北京</value>
                <value>深圳</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>杭州</value>
                <value>天津</value>
                <value>西安</value>
            </set>
        </property>

        <property name="map">
            <map>
                <entry>
                    <key><value>周杰伦</value></key>
                    <value>晴天</value>
                </entry>
                <entry>
                    <key>
                        <value>林俊杰</value>
                    </key>
                    <value>江南</value>
                </entry>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="bj">Beijing</prop>
                <prop key="sh">ShangHai</prop>
            </props>
        </property>
    </bean>

</beans>