<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启自动化装配(注入)-->
    <context:annotation-config/>
    <bean id="userDao" class="tech.snnukf.dao.UserDao"></bean>
    <bean id="userService" class="tech.snnukf.service.UserService"></bean>
    <bean id="accountDao" class="tech.snnukf.dao.AccountDao"></bean>
    <bean id="accountService" class="tech.snnukf.service.AccountService"></bean>


    <!--接口的实现类-->
    <bean id="userDaoImpl01" class="tech.snnukf.dao.Impl.UserDaoImpl01"></bean>
    <bean id="userDaoImpl02" class="tech.snnukf.dao.Impl.UserDaoImpl02"></bean>


</beans>